{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <h1>{{ playlist.name }}!</h1>
  {% if playlist.description %}
  <p class="lead">{{ playlist.description }}</p>
  {% endif %}
  {% if playlist.songs%}
  <h2>Playlist</h2>
    {% for song in playlist.songs %}
    <div class="playlist-item">
      <a href="{{url_for('show_song', song_id=song.id)}}">{{ song.title }}</a>
    </div>
    {% endfor %}
  {% endif %}
</div>

<p>
  <a class="btn btn-primary" href={{url_for('add_song_to_playlist',playlist_id=playlist.id)}}>
    Add Song To Playlist
  </a>
</p>

{% endblock %}